*{
    padding: 0;
    margin: 0;
}


body{
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-color:#dbd8d8;
    margin-bottom: 80px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1140px;
    margin:auto;
}
.header-content{
    display: flex;
    justify-content:space-between;
}
.logo img{
    width: 200px;
}
.menu-bar ul li{
    display: inline-block;
    margin-top: 30px;
}
.menu-bar ul li a{
    color:green;
    font-size: 16px;
    padding: 0 10px;
    transition:0.5s;
}
.menu-bar .active{
    color: #F4772E !important;
}
.menu-bar ul li a:hover{
    color:#F4772E;
    transition:0.5s;
}
.btn{
    padding:8px 15px !important;
    background-color:green !important;
    color: white !important;
    border-radius:5px;
    transition: 0.4s;
}
.btn:hover{
    background-color: #F4772E !important;
    transition:0.4s;
    /* color: green !important; */
}
.home-info{
    text-align: center;
}
.camera-content-title h1{
    font-size: 50px;
    color: #0095DA;
}
.camera-content-title p{
    color: green;
    margin-bottom:30px;
}
.camera-content{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom:80px;
}
.ca-img{
    padding: 15px;
    background-color:#dbd8d8;
}
.ca-img img{
    margin-bottom:20px;
}
.ca-img p{
    margin-bottom:40px;
    color:green;
    text-transform:uppercase;
}
.line{
    display: flex;
    margin:20px;
}
.line1{
    width: 33.33%;
    height: 5px;
    background-color: #FA413F;
}
.line2{
    width: 33.33%;
    height: 5px;
    background-color: #FDA700;
}
.line3{
    width: 33.33%;
    height: 5px;
    background-color: #5DC854;
}
.ad-content{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
    margin-bottom: 80px;
}
.admission{
    background-color: #FE2F51;
    color:#fff;
    padding: 30px;
    text-align: left;
}
.admission h3{
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 18px;
    text-transform: uppercase;
}
.admission p{
    line-height: 1.7;
    letter-spacing: 1px;
}
.ad-2{
    background-color: #DC3A7F;
}

.wlc{
    background-color: #EEEFEF;
    padding:120px 0 60px 0;
    text-align: center;
}
.wlc h1{
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 400;
}
.wlc h1 span{
    font-weight: 700;
}
.wlc hr{
    margin-bottom: 30px;
}
.wlc p{
    text-align: left;
    line-height: 1.7;
}



footer{
    background-color: #010114;
    padding: 80px 0;
}
.d-f{
    display: flex;
}
.footer-left{
    width: 50%;
}
.footer-left h5,
.footer-middle h5,
.footer-right h5{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 60px;
}
.footer-img{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 15px;
}
.footer-img img{
    cursor: pointer;
}
.footer-middle{
    width:30%;
    margin-left: 10px;
}
.main-c{
    color: #5a5a5a;
    margin-bottom: 10px;
}
.footer-middle p{
    color:#5a5a5a;
    margin-bottom: 20px;
}
.footer-right{
    margin-left: 15px;
}
.social-icon i{
    color: #5a5a5a;
    font-size: 24px;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
}
.footer-end{
    background-color: #0B0B21;
    padding: 30px 0;
    text-align: center;
    color: white;
}
.footer-end span{
    color: green;
}






/* *********************************************************************
*************************************************************************
                   About Section Css Code Start 
************************************************************************
*************************************************************************/
.ab-header{
    margin-bottom: 0!important;
}
.banner{
    background-image: url(../img/banner_all.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:scroll;
    padding: 250px 0;
}
.ban-title{
    background-color:#4BB93E;
    color: #fff;
    padding: 20px 0;
    margin-bottom: 60px;
}
.gub-content{
    display: flex;
}
.gub-list{
    width: 24%;
}
.gub-top{
    margin-bottom: 20px;
}
.gub-top ul li a{
    display: inline-block;
    padding: 15px 40px 15px 12px;
    border: 0.1px solid #939393;
    width:220px;
    color: #3a3a3a;

}
.gub-top ul li a:hover{
    background-color: #ededed;
}
.gub-top .active{
    color: #fff;
    background-color: #4BB93E;
}
.gub-top .active a{
    color: #fff;
    font-weight:600;
    border: none;
}
.gub-top .active a:hover{
    background-color: #4BB93E;

}
.gub-top span{
    font-weight: 600;
    margin-bottom: 15px;
}
.gub-text{
    text-align: center;
    margin-left: 30px;
}
.gub-text hr{
    margin-bottom: 60px;
}
.gub-text h1{
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600; 
    color: #99cc00;  
}
.gub-text p{
    text-align: left;
    line-height: 1.7;
}










.students{
    padding: 80px 0;
}
.student-info-title h1{
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
    color: #99cc00;
    margin-bottom: 30px;
}
.form{
    display: flex;
}
.name form label{
    display: block;
    font-size: 24px;
    font-weight: 500;
    color: green;
    margin-bottom: 10px;
}
.name form input{
    padding: 12px 20px;
    width: 300px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.name form input:focus{
    outline: none;
    border: 1px solid blue;
}
.name form input::placeholder{
    font-size: 18px;
    color: rgb(3, 3, 150);
}
.me{
    margin-right: 20px;
}

select{
    background:none;
    border: 1px solid #939393;
    padding: 12px 20px;
    width: 330px;
    border-radius: 5px;
}
.gender label{
    display: block;
    font-size: 24px;
    font-weight: 500;
    color: green;
    margin-bottom: 10px;
}
.session select{
    width: 330px;
}
.session label{
    display: block;
    font-size: 24px;
    font-weight: 500;
    color: green;
    margin-bottom: 10px;
}
.session{
    margin-right: 30px;
}
.session input{
    padding: 12px 20px;
    width: 300px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.session input:focus{
    outline: none;
    border: 1px solid blue;
}
.session input::placeholder{
    font-size: 18px;
    color: rgb(3, 3, 150);
}
